*.class
*.log

# Scala
.metals
.bloop
.bsp
**/target
**/build
*.egg-info
**/dist
__pycache__
*.so

docs/_build
docs/api

**/.ipynb_checkpoints

python/rikai/jars/

.idea/
.vscode/
.DS_Store
.python-version

**/mlruns
.antlr

python/test-artifact

*.iml

out/

.pants.d/
.pids/
